<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedTestsAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49030B352895B4200068C4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49030B3D2895B4200068C4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4938D6C128EA6510000A1F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>495CABB128B57D8B00C8D10A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B6B81928F22879002D07F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B6B82028F2287A002D07F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C2B0342955F86100659BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C2B03D2955F86200659BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
